page-discount {
    .logosun{
        position: absolute;
        float: right;
        padding: 5%;
        width: 25%;
        z-index: 2;
        opacity: 0.6;
    }
    .discount-location {
        padding: 8px;
        position: relative;
        float: left;
        margin-top: -35px;
        border-radius: 0 12px 12px 0;
        color: white;
        // background-color:rgb(7, 172, 1);
        background-color:#2BB563;
        font-size: 14px;
        text-align: center;
        font-family: "Raleway", Helvetica;
    }
}
