<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="shscolor">
    <ion-title>My Account</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color:#f2f2f2;">
  <div *ngIf="hasLogin() === false">
    <ion-card class="grad1" style="padding: 3%" (click)="loginpage()">
      <ion-icon name="log-in" style="font-size:125%;"> <b>Login</b></ion-icon>
    </ion-card>
  </div>
  <div *ngIf="hasLogin() === true">
    <ion-card class="profile-item grad1" style="padding: 5%">
      <div class="profile-picture big-profile-picture">
        <img src="{{profpic}}">
      </div>
      <h2 class="profile-name dark">{{memcod}}</h2>
      <h5>{{profmail}}</h5>
      <div class="profile-info" *ngIf="nowPoint">
        <button ion-button round style="background-color:red" class="grad3">{{nowPoint}} Point</button>
      </div>
      <button ion-button round icon-start (click)="checkPoint(idm)" class="grad3">
        <ion-icon name="checkmark-circle-outline"></ion-icon> Check Point&nbsp;&nbsp;&nbsp;<ion-spinner
          class="spinner-energized" *ngIf="isLoading"></ion-spinner>
      </button>
    </ion-card>
    <!-- <ion-card class="grad1" style="padding: 3%">
      <img src="../../assets/imgs/phone.png" style="width:10%; display: inline-block">
      <img src="../../assets/imgs/whatsapp.png" style="width:10%; display: inline-block">
    </ion-card> -->
    <ion-card class="grad1" style="padding: 3%" (click)="myprofile()">
      <ion-icon name="contact" style="font-size:125%;"> <b>My Profile</b></ion-icon>
    </ion-card>
    <ion-card class="grad1" style="padding: 3%" (click)="shscard()">
      <ion-icon name="card" style="font-size:125%;"> <b>My Card</b></ion-icon>
    </ion-card>
    <ion-card class="grad1" style="padding: 3%" (click)="hispayment()">
      <ion-icon name="cash" style="font-size:125%;"> <b>History Payment</b></ion-icon>
    </ion-card>
    <ion-card class="grad1" style="padding: 3%" (click)="feepayment()">
      <ion-icon name="grid" style="font-size:125%;"> <b>Service Fee</b></ion-icon>
    </ion-card>
    <ion-card class="grad1" style="padding: 3%" (click)="hispoint()">
      <ion-icon name="paw" style="font-size:125%;"> <b>History Point</b></ion-icon>
    </ion-card>
    <ion-card class="grad1" style="padding: 3%" (click)="settings()">
      <ion-icon name="settings" style="font-size:125%;"> <b>Settings</b></ion-icon>
    </ion-card>
    <ion-card class="grad1" style="padding: 3%" (click)="privacy()">
      <ion-icon name="contact" style="font-size:125%;"> <b>Privacy Policy</b></ion-icon>
    </ion-card>
    <ion-card class="grad1" style="padding: 3%" (click)="logout()">
      <ion-icon name="log-out" style="font-size:125%;"> <b>Logout</b></ion-icon>
    </ion-card>
  </div>
  <!-- <p text-right>
    <b>v. {{app_version}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
  </p> -->
  <b padding>Follow us for more updates : </b>
  <div padding>
    <a class="item" onclick="window.open('https://www.facebook.com/sunholidaystyleofficial/', '_system');">
      <img src="../../assets/imgs/facebook.png" style="width:30px;">
    </a>
    &nbsp;
    <a class="item" onclick="window.open('https://www.instagram.com/sunholidaystyleofficial/', '_system');">
      <img src="../../assets/imgs/instagram.png" style="width:30px;">
    </a>
    &nbsp;
    <a class="item" onclick="window.open('https://twitter.com/sunholidaystyle', '_system');">
      <img src="../../assets/imgs/twitter.png" style="width:30px;">
    </a>
    &nbsp;
    <a class="item" onclick="window.open('https://www.youtube.com/channel/UCCoTNiriaM6RlZObHXI30vQ', '_system');">
      <img src="../../assets/imgs/youtube.png" style="width:30px;">
    </a>
  </div>
</ion-content>