page-hotelresult {
  .ratestyle {
    border: 0.5px solid #ff6600;
    border-radius: 10px;
    margin: 3px;
    padding: 5px;
  }
  .ion-text-capitalize {
    text-transform: capitalize;
  }
  .green-button {
    background-color: #2BB563;
    color: white;
    padding: 7px;
    border-radius: 8px;
  }
}
